* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0px;
}

.header__container {
  width: 82%;
  margin: auto;
}
.header__container .navBar {
  padding: 0px;
}
.header__container .navBar .loGo img {
  width: 80px;
}
.header__container .navbar-nav .nav-item {
  margin-right: 30px;
}
.header__container .navbar-nav .nav-item .nav-link {
  color: #181818;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
.header__container .navbar-nav .nav-item .nav-link:after {
  content: "";
  display: block;
  background: #b61984;
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  bottom: -25px;
  left: 50%;
  transition: all 0.3s;
  transform: scale(0);
}
.header__container .navbar-nav .nav-item .nav-link:hover {
  color: #b61984;
}
.header__container .navbar-nav .nav-item .nav-link:hover:after {
  transform: scale(1.3);
}
.header__container .buttons_header_contact .btnPhoneContact {
  background: #b61984;
  border: 1px solid pink;
  border-radius: 50px;
  padding: 12px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 0 0 3em #b61984 inset;
  position: relative;
}
.header__container .buttons_header_contact .btnPhoneContact i {
  padding-right: 0.5em;
  font-size: 13px;
}
.header__container .buttons_header_contact .btnPhoneContact .overlay_buttonPhoneContact {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: scaleY(0) scaleX(0.7);
  background-color: white;
  transition: all 0.2s;
  border-radius: 50px;
  color: #b61984;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container .buttons_header_contact .btnPhoneContact:hover .overlay_buttonPhoneContact {
  transform: scaleY(1) scaleX(1);
}
.header__container .buttons_header_contact .icon_header_contact {
  color: #181818;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1em;
  transition: all 0.2s;
}
.header__container .buttons_header_contact .icon_header_contact:hover {
  color: #b61984;
}

.carousel {
  background: url("../../img/yellow_top_wave_01.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-bottom: 30px;
}
.carousel .carousel_tittle1 {
  color: #b61984;
  font-size: 18px;
  font-weight: 600;
  margin: 0xp 0px 8.25px;
}
.carousel .carousel_tittle2 {
  color: #181818;
  font-size: 57px;
  font-weight: 700;
}
.carousel .image_carousel {
  margin-top: 65px;
}

.team {
  background: #dcd1f3;
  position: relative;
  width: 100%;
  padding: 60px 0px 0px;
}
.team .team_img_top {
  position: absolute;
  top: -28%;
  left: 0%;
}
.team .team_img_top img {
  width: 100%;
}
.team .team_item {
  z-index: 3;
}
.team .team_item .card {
  border-radius: 15px;
  transition: all 1s;
}
.team .team_item .card:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.team .team_item .card .card_image {
  overflow: hidden;
}
.team .team_item .card .card_image .card-img-top {
  border-radius: 15px 15px 0px 0px;
  transition: all 1s;
}
.team .team_item .card:hover .card-img-top {
  transform: scale(1.05);
}
.team .team_item .card .card-body {
  border-radius: 0px 15px 15px 0px;
}
.team .team_item .card .card-body .member_country {
  color: #b61984;
  font-size: 11.25px;
  font-weight: 600;
  margin: 0px;
}
.team .team_item .card .card-body .member_name {
  color: #181818;
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.team .team_img_bottom {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 0;
  margin-bottom: 0px;
}
.team .team_img_bottom img {
  width: 100%;
}
.team .nothing_team {
  position: absolute;
  height: 150px;
  bottom: 0%;
  left: 0px;
  width: 100%;
  background: #fff;
}

.contact {
  margin-top: 100px;
}
.contact .contact_content {
  width: 80%;
  margin: auto;
}

.contact_left .image_contact {
  width: 85%;
  margin-top: 30px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.form_container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 0px 30px;
  width: 70%;
  margin-left: 82px;
  margin-top: 53px;
}
.form_container .form_tittle {
  color: #181818;
  font-size: 39px;
  font-weight: 700;
  margin: 40px 0px;
}
.form_container .form_input {
  position: relative;
  max-width: 50%;
}
.form_container .form_input .icon_form {
  position: absolute;
  top: 16px;
  left: 18px;
  color: #b61984;
  font-size: 15px;
}
.form_container .form_input input {
  outline: none;
  font-size: 14px;
  border-radius: 50px;
  background: transparent;
  padding: 10px 5px 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  width: 100%;
}
.form_container .form_input input:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form_container .input_name {
  margin-right: 5%;
}
.form_container .form_select {
  position: relative;
}
.form_container .form_select .icon_selectField {
  position: absolute;
  color: #b61984;
  font-size: 15px;
  top: 27px;
  left: 18px;
}
.form_container .form_select .icon_selectDropdown {
  position: absolute;
  color: #b61984;
  font-size: 13px;
  top: 27px;
  right: 18px;
  pointer-events: none;
}
.form_container .form_select .select_field {
  width: 100%;
  border-radius: 50px;
  padding: 5px 5px 5px 40px;
  margin: 15px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  appearance: none;
  cursor: pointer;
  color: #b61984;
  font-size: 14px;
}
.form_container .form_select .select_field:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form_container .form_select .select_field:focus-visible {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}
.form_container .form_select .select_field option {
  transition: all 0.5s;
}
.form_container .form_select .select_field option:hover {
  background: transparent;
}
.form_container .form_textarea {
  position: relative;
}
.form_container .form_textarea .icon_textarea {
  position: absolute;
  top: 20px;
  left: 18px;
  color: #b61984;
  font-size: 15px;
  transition: all 0.3s;
}
.form_container .form_textarea textarea {
  padding: 12px 12px 25px 42px;
  border-radius: 20px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form_container .form_textarea textarea:focus {
  outline: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form_container .form_textarea textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form_container .form_button .btnForm {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #b61984;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 13px 56px;
  box-shadow: 0 0 0 3em #b61984 inset;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  margin: 40px 0px 75px 0px;
}
.form_container .form_button .btnForm::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.form_container .form_button .btnForm:hover {
  color: #b61984;
  border: 1px solid #b61984;
}
.form_container .form_button .btnForm:hover::before {
  transform: scale(1);
}

.footer {
  background-image: url("../../img/footer_background.jpg");
  background-position: bottom;
  background-size: 110%;
  background-repeat: no-repeat;
  position: relative;
}
.footer .footer_imgbg_top {
  position: absolute;
  top: -68%;
  left: 0px;
  z-index: -10;
}
.footer .footer_imgbg_top img {
  width: 100%;
}
.footer .footer_container {
  padding: 120px 0px;
}
.footer .footer_container .footer_content .footer_item {
  padding: 0px 40px;
}
.footer .footer_container .footer_content .footer_item .footer_item_title {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}
.footer .footer_container .footer_content .footer_item ul li {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.footer .footer_container .footer_content .footer_item ul li a {
  color: #fff;
  text-decoration: none;
}
.footer .footer_container .footer_content .footer_item .icon_footer a {
  color: #fff;
  transition: all 0.5s;
}
.footer .footer_container .footer_content .footer_item .icon_footer a:hover {
  color: #191919;
}
.footer .footer_container .footer_content .footer_sec_one ul li {
  margin-bottom: 8px;
}
.footer .footer_container .footer_content .footer_sec_one ul li i {
  font-size: 14px;
  margin-right: 10px;
}
.footer .footer_container .footer_content .footer_sec_one .icon_footer span {
  display: inline-block;
  margin-right: 10px;
}
.footer .footer_container .footer_content .footer_sec_one .icon_footer span i {
  font-size: 14px;
}
.footer .footer_container .footer_content .footer_sec_two ul li {
  margin-bottom: 15px;
}
.footer .footer_container .footer_content .footer_sec_two ul li a {
  font-weight: 500;
  font-size: 14px;
  transition: all 0.5s;
}
.footer .footer_container .footer_content .footer_sec_two ul li a:hover {
  opacity: 0.8;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email {
  margin-top: 45px;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email input {
  padding: 10px 30px;
  background: #b61984;
  border-radius: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email input::placeholder {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email input:focus {
  border: 1px solid white;
  text-align: center;
  color: #fff;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email .btnEmail {
  width: 115%;
  margin-top: 16px;
  position: relative;
  color: #181818;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.5s;
  z-index: 1;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email .btnEmail::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #b61984;
  border-radius: 50px;
  transform: scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email .btnEmail:hover {
  color: #fff;
}
.footer .footer_container .footer_content .footer_sec_three .footer_email .btnEmail:hover::before {
  transform: scale(1);
}
.footer .footer_pad {
  padding-top: 100px;
}/*# sourceMappingURL=main.css.map */