$color-pink : #b61984 ; 
$color-white : #fff ; 
$color-black  :#181818 ; 
$color-blue : #dcd1f3 ; 
$color-black-2 : #191919 ; 

$fw-5 : 500 ;
$fw-6 : 600 ;
$fw-7 : 700 ;  

$fs-1 : 0.9em ; 
$fs-2 : 16px ; 
$fs-3 : 14px ; 
$fs-4 : 13px ; 
$fs-5 : 18px ; 
$fs-6 : 57px ;
$fs-7 : 11.25px ; 
$fs-8 : 23.25px ;  

$bdr-1 : 50px ; 