.footer {
    background-image: url("../../img/footer_background.jpg");
    background-position: bottom;
    background-size: 110%;
    background-repeat: no-repeat;
    position: relative;
    .footer_imgbg_top {
        position: absolute;
        top: -68%;
        left: 0px;
        z-index: -10;
        img {
            width: 100%;
        }
       
       

    }
    .footer_container {
        padding: 120px 0px;
        .footer_content {
           .footer_item {
            padding: 0px 40px;
                .footer_item_title {
                    @include textStyle($color-white , $fs-8 - 0.25 , $fw-7) ; 
                }
                ul li {
                color: $color-white;
                font-size: 14px;
                font-weight:500;
                a {
                   color: $color-white;
                   text-decoration: none;
                   
                }
            }
            .icon_footer {
                a {
                    color: $color-white;
                    transition: all .5s;
                    &:hover {
                        color: $color-black-2;
                    }
                }
            }
           } 
           .footer_sec_one {
                ul {
                    li {
                        margin-bottom: 8px;
                        i {
                            font-size: 14px;
                            margin-right: 10px;
                        }
                    }
                }
                .icon_footer {
                    span{
                        display: inline-block;
                        margin-right: 10px;
                        i {
                            font-size: 14px;
                        }
                    }
                }
           }
           .footer_sec_two {
                ul {
                    li {
                        margin-bottom: 15px;
                        a {
                            font-weight: 500;
                            font-size: 14px;
                            transition: all .5s;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
           }
           .footer_sec_three {
                .footer_email {
                    margin-top: 45px;
                    input {
                        padding: 10px 30px;
                        background: $color-pink;
                        border-radius: 50px;
                        outline: none;
                        border: 1px solid rgba(255,255,255,.1);
                        transition: all .5s;
                        &::placeholder {
                            text-align: center;
                            @include textStyle($color-white , $fs-3 , $fw-5) ; 
                        }
                        &:focus {
                            border: 1px solid white;
                            text-align: center;
                            color: $color-white;
                        }
                        
                    }
                    .btnEmail {
                        width: 115%;
                        margin-top: 16px;
                        position: relative;
                        @include textStyle($color-black , $fs-2 , $fw-6) ; 
                        @include buttonStyle($color-white , 1px solid $color-white ,50px ,  10px 20px) ; 
                        transition: all .5s;
                        z-index: 1;
                        &::before {
                            position: absolute;
                            content: '';
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background: $color-pink;
                            border-radius: 50px;
                            transform: scale(0);
                            z-index: -1;
                            transition: all .3s;
                        }
                        &:hover {
                            color: $color-white;
                        }
                        &:hover::before {
                            transform: scale(1);
                        }
                        
                    }
                }
           }
        }
    }
    .footer_pad{
        padding-top: 100px;
    }
}
